.rating_info{
    font-size: 12px;
}
.Rating{
    
    padding: 1px 1px;
    
}
.RatingNo{
    font-size: 15px;

}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-bottom: 0px;
  }
  .skill{
      padding:18px
  }
  .rating_info{
    background-color: white;
    color: rgb(0, 0, 0);
    margin-top: 105px;
    padding: 20px;
  }
  .info{
    
        display: grid;
        grid-template-columns: 1fr 1fr ;
        padding-bottom: 0px;
      
  }
  .info_rating{

    padding:18px;
  }
 
  .editbutton{
    padding: 1px 20px;
  }

.nextBtn{
  font-size: 20px;
  padding: 10px;
  float:right;
  margin-top: 20px;
  font-weight: 500;
}

.prevBtn{
  font-size: 20px;
  padding: 10px;
  float:left;
  margin-top: 20px;
  font-weight: 500;
}
.questionsCard{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: none;
}
